<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style404.css') }}" />
  </head>
  <body>
    <section class="main">
      <div class="container">
        <div class="left-container">
          <img
            src="{{ url_for('static', filename='images/404GIF.gif') }} "
            alt="gif"
          />
        </div>

        <div class="right-container">
          <h1>404</h1>
          <h2>UH OH! You're lost.</h2>

          <p>
            The page you are looking for does not exist. How you got here is a
            mystery. But you can click the button below to go back to the
            homepage.
          </p>

          <a href="/">
            <form action="/">
              <input class="btn" type="button" value="HOME" />
            </form>
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
