<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <!-- <link rel="stylesheet" href="../static/main.css"> -->
    <title>Upload</title>
  </head>
  <body>
    <div class="container">
      <h1 style="text-align: center">Send files or folder</h1>
      <h1 class="main_input">Upload file(s)</h1>

      <div class="form">
        <form method="post" action="/" enctype="multipart/form-data">
          <input
            class="choose_file"
            type="file"
            name="files[]"
            multiple="true"
            autocomplete="off"
            required
          /><br /><br /><br />
          <input class="btn" type="submit" value="Upload file" />
        </form>
      </div>
      <br />
    </div>

    <div class="container">
      <h1 class="main_input">Upload folder</h1>

      <div class="form">
        <form method="post" action="/" enctype="multipart/form-data">
          <input
            class="choose_file"
            type="file"
            name="files[]"
            webkitdirectory
            mozdirectory
          /><br /><br /><br />
          <input class="btn" type="submit" value="Upload folder" />
        </form>
      </div>
      <br />
    </div>

    <div>
      <p style="color: red">{{ message }}</p>

      <!-- <h4>Existing files on server:- </h4> -->

      {% for file in existing_files %}
      <p>{{ file }}</p>
      {% endfor %}
    </div>
  </body>
</html>
